body {
  background-color: #191919;
  font-family: "Montserrat", sans-serif;
}

h2, h3 {
  color: #fff;
  text-align: center;
  font-weight: 600;
}

li {
  color: #fff;
  text-align: center;
  padding: 10px;
}

h1 {
  color: #fff;
  text-align: center;
  font-weight: 900;
  font-size: 150px;
}

span {
  color: #AA14F0;
}

::marker {
  color: #AA14F0;
}

ul {
  padding-bottom: 30px;
  text-align: left;
  list-style-position: inside;
  margin: 30px;
}

hr {
  background-color: #191919;
  border-style: dotted none none;
  border-color: #fff;
  border-width: 7px;
  width: 70px;
  margin: 100px auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: line-through;
}

.one-year {
  padding-top: 30px;
  padding-bottom: 30px;
}

.two-year {
  padding-bottom: 40px;
}

p {
  color: #fff;
  padding: 30px 0 10px;
}

.come-soon-text {
  font-size: 70px;
  padding-bottom: 50px;
}

footer {
  text-align: center;
  background-color: #AA14F0;
  padding: 50px 0 20px;
}

.footer-icons {
  padding: 20px;
}
@media (max-width: 950px) {
  ul {
    text-align: left;
  }
  li {
    text-align: left;
  }
  h3 {
    text-align:left;
  }
}
